@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Stlyes */
@layer base {
    :root {
        /* Header Height */
        --header-height: 3rem;
        /* Color Variable for Default Theme */
        --container-color: #ffffff;
        --body-color: #fbfefd;
        --first-color: #069d54;
        --first-alt-color: #048654;
        --title-color: #383838;
        --prime-color: #707070;
        --prime-light-color: #a6a6a6;
    }
    #nav-menu {
        box-shadow: 0 4px 4px hsla(0, 100%, 0%, 0.1);
    }
}

